.container {
    background-image: url("/main-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 91.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}