.container {
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    box-sizing: border-box;
    overflow-x: hidden;
    border-radius: 5px;
}
.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.upload {
    text-decoration: underline solid transparent;
    text-underline-offset: 8px;
    transition: text-decoration 0.5s ease;
}
.upload:hover {
    text-underline: var(--dark-blue);
    text-decoration: underline;
    border-radius: 13px;
    text-underline-offset: 8px;
}
.tracksContainer {
    display: inline-block;
}

/* Element */
