.container {
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  min-height: 100vh;
  background-color: #babbc2;
}
.header {
  margin-top: 5%;
  width: 100%;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    margin: 2rem;
    color: #3a1e05;
  }
}
.upload_type_container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.upload_type_select {
  border-radius: 5px;
  width: 25vw;
  height: 25vw;
  -webkit-box-shadow: 0px 7px 23px 4px rgba(0,0,0,0.43);
  box-shadow: 0px 7px 23px 4px rgba(0,0,0,0.43);
  margin: 2vh 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background: white;
  input[type='radio'] {
    display: none;
  }
  &:before {
    content: '';
    height: 1.6rem;
    width: 1.6rem;
    margin: 0.3rem;
    border-radius: 50%;
    border: 2.5px solid #000000;
  }
}
.upload_type_select_checked {
  transition: ease-in-out 0.3s;
  border-radius: 5px;
  background-color: #3a1e05;
  color: white;
  width: 25vw;
  height: 25vw;
  -webkit-box-shadow: 0 7px 23px 4px rgba(0,0,0,0.43);
  box-shadow: 0 7px 23px 4px rgba(0,0,0,0.43);
  margin: 2vh 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  input[type='radio'] {
    display: none;
  }
}
.select_label {
  width: 150px;
  height: 150px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.select_label_text {
  display: block;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}