.wrap {
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  z-index: 100;
  top:0;
  left: 0;
  color: var(--white);
}
.return {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  i {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.91);
    margin-right: 2rem;
  }
  span {
    left:0;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 72px 16px 16px;
  h1 {
    margin: 0 0.2rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: unset;
    word-break: break-word;
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 2rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    font-weight: 300;
  }
}
.header_image_wrapper {
  box-sizing: border-box;
  align-items: center;
  align-self: center;
  aspect-ratio: 1/1;
  background-color: #535353;
  display: flex;
  filter: drop-shadow(0 0 18.3529px rgba(0,0,0,.3));
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
  transform: translateZ(0);
  width: clamp(144px,70vw,288px);
  opacity: 1;
}
.header_image {
  text-transform: none;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
.header_about {
  text-align: start;
  white-space: unset;
  word-break: break-word;
  color: rgba(255,255,255,.7);
  margin: 1rem 0.2rem;
  p {
    text-transform: none;
    text-align: start;
    white-space: unset;
    word-break: break-word;
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 200;
  }
}
.buttons_wrapper {
  height: 26vh;
  div {
  }
}
.slider {
  position: relative;
  width: 100%;
}
.slider_track,
.slider_range {
  border-radius: 3px;
  height: 5px;
  position: absolute;
  width: 100%;
  background-color: gray;
  z-index: 2;
}
.slider_track {
  background-color: var(--white);
  width: 1%;
  z-index: 3;
}
.duration {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1rem;
  p {
    padding: 0;
    margin-top: 0.5rem;
    font-weight: 150;
    font-size: 0.7rem;
    line-height: 1.5rem;
  }
}
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}
.thumb::-webkit-slider-thumb {
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  z-index: 4;
}

.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
@mixin btnInit {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.btn_heart {
  @include btnInit;
  font-size: 1.7rem;
  padding-right: 2rem;
}
.btn_backward {
  @include btnInit;
  font-size: 1.5rem;
  color: #a1a1a1;
}
.btn_play {
  @include btnInit;
  font-size: 5rem;

}
.btn_forward {
  @include btnInit;
  font-size: 1.5rem;
  color: #a1a1a1;
}
.btn_shuffle {
  @include btnInit;
  font-size: 1.5rem;
  padding-left: 2rem;
}